h2 {
  text-align: center;
}

.document {
  display: flex;
  margin: auto;
  justify-content: center;
}

.document i {
  color: rgba(145, 145, 145, 0.5);
  font-size: 15rem;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}
