<nav *ngIf ="authenticated">
  <div class="logo-name">
    <ul>
      <li>
        <span class="logo_name">{{ fullname }}</span>
      </li>
      <li>
        <span class="logo_email">{{ email }}</span>
      </li>
    </ul>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a routerLink="/">
          <i class="uil uil-estate"></i>
          <span class="link-name">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/trash">
          <i class="uil uil-trash"></i>
          <span class="link-name">Trash</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li>
        <a routerLink="/login" (click)="logout()">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

